
# PostgreSQL
POSTGRES_PASSWORD=mysecretpass
POSTGRES_USER=postgresuser
CONN_MAX_AGE=60

# Domain name, used by caddy
DOMAIN_NAME=aids-jiance.com
EMAIL=

# General settings
# DJANGO_READ_DOT_ENV_FILE=True
DJANGO_ADMIN_URL=
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=FBo|xLv!(9AbKl(hOAn8iEE~ASN+<htlu[$KYf1jP%/g@gnB1Y
DJANGO_ALLOWED_HOSTS=.aids-jiance.com



# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

# Sentry
DJANGO_SENTRY_DSN=


DJANGO_DEFAULT_FILE_STORAGE=qiniustorage.backends.QiniuMediaStorage
DJANGO_QINIU_ACCESS_KEY=
DJANGO_QINIU_SECRET_KEY=
DJANGO_QINIU_BUCKET_NAME=
DJANGO_QINIU_BUCKET_DOMAIN=




