{% extends 'layout.html' %}

{% block title %}
    艾滋病自测症状查询。持续更新！
{% endblock %}

{% block keywords %}
    艾滋病症状，高危行为，艾滋病初期， 艾滋病图片
{% endblock %}

{% block description %}
    持续更新关于艾滋病症状，高危行为，艾滋病自测试纸等内容
{% endblock %}

{% block main %}
    <div class="card zice">
        <div class="card-header">
            <h1 class="text-center">
                艾滋病自测行为、症状对照表
            </h1>
        </div>
        <div class="card-body p-2">
            <div class="lead text-danger">
                如果没有下面所说症状，则表明无需进行艾滋病检测!
            </div>

            <ul class="list">

            </ul>
        </div>
    </div>
    <div class="bg-white p-2 mb-2">

    </div>
{% endblock %}
