{% extends 'layout.html' %}

{% block title %}
    艾滋病自测症状查询。持续更新！
{% endblock %}

{% block keywords %}
    艾滋病症状，高危行为，艾滋病初期， 艾滋病图片
{% endblock %}

{% block description %}
    持续更新关于艾滋病症状，高危行为，艾滋病自测试纸等内容
{% endblock %}

{% block main %}
    <div class="card zice mb-2">
        <div class="card-header p-2">
            <h1 class="text-center m-0">
                艾滋病自测行为、症状对照表
            </h1>
        </div>
        <div class="card-body p-2">
            <div class="text-danger">
                如果没有下面所说症状，则表明无需进行艾滋病检测! <br>
                <span>
                    <a href="{% url 'shizhi' %}">点击查看自测方案</a>
                </span>
            </div>

            <img class="img-fluid" src="https://img.alicdn.com/imgextra/i1/1699086763/TB2XziFaHH9F1JjSZFAXXba3VXa_!!1699086763.jpg" alt="">
            <img class="img-fluid" src="https://img.alicdn.com/imgextra/i3/1699086763/TB23OwSX09HJuJjSZFzXXaH6pXa_!!1699086763.jpg" alt="">

            <span>
                    <a href="{% url 'shizhi' %}">点击查看自测方案</a>
                </span>

        </div>
    </div>

    {% include 'core/shenming.html' %}
{% endblock %}
