<div class="card liucheng">
  <div class="card-body p-2">
    <h6 class="card-title">
      [检测流程]
    </h6>
    <div class="buy">
      [1] 查看自测条件是否满足;<a href="{% url 'zice' %}" class="red_a text-danger">(点击查看自测条件)</a><br>
      [2] 联系微信或者QQ<a target="_blank" href="https://wpa.qq.com/msgrd?v=3&uin=2634687317&site=qq&menu=yes"><img
      border="0" src="https://pub.idqqimg.com/qconn/wpa/button/button_11.gif" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>,确定检测方案;<br>
      [3] 各位用户,为了减少操作失误，以及检测结果准确性，<span class="text-danger">请务必联系在线大夫规范检测步骤</span><br>
      [4] 确定下单之后，走标准淘宝流程或者微信付款，通常17:30之前付款可当日发货;<br>
      // 快递：默认为顺丰快递，偏远地区EMS。<span class="text-danger" style="color:#FE0000;">全部保密发货，保护隐私</span>
    </div>
  </div>


</div>
