<nav class="navbar navbar-expand-md bg-light">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{{ request.site.extend.logo.url }}" alt="" class="d-inline-block align-top">
    </a>
    {#    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"#}
    {#            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">#}
    {#      <span class="navbar-toggler-icon"></span>#}
    {#    </button>#}
  </div>

</nav>