{% extends "layout.html" %}

{% block main %}

  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">首页</a></li>
      <li class="breadcrumb-item">
        <a href="{% url 'article:article_list' pk=object.category.id %}">{{ object.category.name }}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{{ object.name }}</li>
    </ol>
  </nav>

  <div class="article-main p-2 mb-2">
    <div class="article-title pb-1 mb-2">
      <h4>{{ object.name }}</h4>
      <span class="d-block text-muted small">
        {{ object.author.name }}&nbsp;&nbsp;·{{ object.publish }}&nbsp;&nbsp;·{{ object.views }}次点击
      </span>
    </div>

    <div class="article-body">
      {{ object.body|safe }}
    </div>
  </div>

  <div class="page-next-pre bg-white list-group">
    <ul class="list-group">
      <li class="list-group-item p-1">
        {% with object.get_previous_by_publish as pre %}
          上一篇：{% if pre %}<a href="{{ pre.get_absolute_url }}" class="">{{ pre.name }}</a>{% else %}没有啦{% endif %}
        {% endwith %}
      </li>
      <li class="list-group-item p-1">
        {% with object.get_next_by_publish as next %}
          下一篇：{% if next %}<a href="{{ next.get_absolute_url }}" class="">{{ next.name }}</a>{% else %}没有啦{% endif %}
        {% endwith %}
      </li>
    </ul>
  </div>
{% endblock %}


