// project specific CSS goes here

////////////////////////////////
//Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////////////////////////
//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

////////////////////////////////
//Django Toolbar//
////////////////////////////////

// Display django-debug-toolbar.
// See https://github.com/django-debug-toolbar/django-debug-toolbar/issues/742
// and https://github.com/pydanny/cookiecutter-django/issues/317

[hidden][style="display: block;"] {
  display: block !important;
}

.navbar {
  border-bottom: 1px solid #eee;
}

.nav {
  font-size: 0.85rem;
}

.wrap {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #f4f4f4;
  background-size: cover;
  font-size: 14px;
}

.liucheng {
  .card-body {
    //padding: 0.5rem;
    font-size: 0.75rem;
  }
  .card-title {
    font-size: 0.9rem;
    font-weight: bolder;
  }
}

.liucheng {
  margin-bottom: 0.8rem;
}

.article-main {
  background-color: #ffffff;
  border-radius: 3px;
  //padding: 0.5rem;

  .article-title {
    border-bottom: 1px dashed #eeeeee;
  }
}

.footer {
  .copywirte {
    blockquote {
      //border-left: 3px solid #EEEEEE;
      font-size: 0.85rem;
      //padding: 1px 20px;
      //margin: 0 0 10px;
    }
  }
}

.red_a{
  text-decoration: none;
  color: rgb(46, 11, 11);
  &:hover{
    color: #ff0000;
    text-decoration: none;
  }
}
.shiyong{
  font-size: 12px;
}


.zice{
  h1{
    font-size: 1.5rem;

  }
}
