{% extends 'layout.html' %}


{% block main %}
    <div class="bg-white p-2 mb-2">
        <ul class="nav nav-pills nav-fill mb-2" role="tablist">
            <li class="nav-item">
                <a href="#danfen" class="nav-link active" id="danfen-tab" data-toggle="tab" role="tab" aria-controls="danfen" aria-selected="true">
                    单份试纸
                </a>
            </li>
            <li class="nav-item">
                <a href="#two-week" class="nav-link" id="two-week-tab" data-toggle="tab" role="tab" aria-controls="two-week" aria-selected="true">
                    两周检测方案
                </a>
            </li>
            <li class="nav-item">
                <a href="#four-week" class="nav-link" id="four-week-tab" data-toggle="tab" role="tab" aria-controls="four-week" aria-selected="true">
                    四周检测方案
                </a>
            </li>
            <li class="nav-item">
                <a href="#eight-week" class="nav-link" id="eight-week-tab" data-toggle="tab" role="tab" aria-controls="eight-week" aria-selected="true">
                    八周检测方案
                </a>
            </li>
        </ul>
        <div class="tab-content" id="jiance-content">
            <div class="tab-pane fade show active" id="danfen" role="tabpanel" aria-labelledby="danfen-tab">
                        <table class="table table-bordered table-sm">
            <th>
                编号
            </th>
            <th>
                试纸
            </th>
            <th>
                价格
            </th>
            <th>
                其他
            </th>

        </table>
            </div>
            <div class="tab-pane fade  " id="two-week" role="tabpanel" aria-labelledby="two-week-tab">

            </div>
            <div class="tab-pane fade  " id="four-week" role="tabpanel" aria-labelledby="four-week-tab">

            </div>
            <div class="tab-pane fade  " id="eight-week" role="tabpanel" aria-labelledby="eight-week-tab">

            </div>

        </div>

    </div>
{% endblock %}
