{% extends 'layout.html' %}


{% block main %}
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">首页</a></li>
      <li class="breadcrumb-item"><a href="{% url 'shizhi' %}">试纸</a></li>
      {#    <li class="breadcrumb-item"><a href="{% url 'article:article_list' slug=category.slug %}">{{ category.name }}</a></li>#}
      <li class="breadcrumb-item active" aria-current="page">{{ object.name }} 介绍</li>
    </ol>
  </nav>

  <a class="red_a text-danger" href="{% url 'shizhi_shiyong' %}">
  （点击查看{{ object.name }}使用说明）
  </a>

  {{ object.description|safe }}
{% endblock %}
