{% extends 'layout.html' %}
{% load fangan %}

{% block main %}
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">首页</a></li>
      <li class="breadcrumb-item"><a href="{% url 'shizhi' %}">试纸</a></li>
      {#    <li class="breadcrumb-item"><a href="{% url 'article:article_list' slug=category.slug %}">{{ category.name }}</a></li>#}
      <li class="breadcrumb-item active" aria-current="page">{{ object.name }} 介绍</li>
    </ol>
  </nav>

    <div class="bg-white p-2">
      <a class="red_a text-danger d-block" href="{% url 'shiyong' %}">(点击查看{{ object.name }}使用说明)</a>
      <a class="red_a text-danger d-block" href="{{ object.get_questions_url }}">(点击查看{{ object.name }}网友使用问答)</a>

        <div class="row mt-2">
            <div class="col-md-4">
                <img class="img-fluid" src="{{ object.cover.url }}" alt="{{ object.name }}">
                <p class="text-center">
                    <a class="text-danger" href="{% url 'help' %}">点击购买试纸</a>
                </p>
            </div>
            <div class="col-md-8">{{ object.description|safe }}</div>
        </div>

    </div>

{% endblock %}


{% block rightbar %}
    {% for k, v in fangan %}
        {% fangan_list k v %}
    {% endfor %}
{% endblock %}