{% extends 'layout.html' %}


{% block main %}
  <nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">首页</a></li>
    <li class="breadcrumb-item"><a href="{% url 'shizhi' %}">试纸</a></li>
{#    <li class="breadcrumb-item"><a href="{% url 'article:article_list' slug=category.slug %}">{{ category.name }}</a></li>#}
    <li class="breadcrumb-item active" aria-current="page">试纸使用说明</li>
  </ol>
</nav>

  <div class="shiyong bg-white p-2 mb-2">

{#    {{ object.shiyong|safe }}#}
  </div>
{% endblock %}
